<div id="msg-container">
  <div class="msg">
    <h1>Welcome to Taskr</h1>
    <h4>Manage your time effectively</h4>
  </div>
</div>
<div id="users">
  <div class="userforms">
    <%= render "sign_in" %>

    <%= render "sign_up", user: @user %>
  </div>
</div>
